.background {
  background-image: url('../../assets/background9.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding-top: 4vh;
}

.author {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  bottom: 1vh;
  margin-top: 3vh;
  position: relative;
  z-index: 1;
}

.author a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  cursor: pointer;
}

.author a:hover {
  text-decoration: underline;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.tag {
  display: inline-block;
  background-color: #e1e1e1;
  border-radius: 5px;
  padding: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.tag span {
  margin-left: 5px;
  color: #333;
}


.content {
  text-align: center;
  color: white;
  animation: fadeInDown 1s ease forwards;
  z-index: 2;
  padding: 0 1rem;
}

.search-form-container, .search-syntax-container {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  padding: 2rem;
  width: 80%;
  max-width: 60vh;
  z-index: 2;
  position: relative;
  margin: 2rem auto 0;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

.form-control {
  width: 100%;
}

button {
  width: 100%;
  margin-top: 2rem;
  border-radius: 20px;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 768px) {
  .search-form-container, .search-syntax-container {
    max-width: 70vh;
  }
  
  .form-control {
    width: 100%;
  }

  .content, mat-form-field, button {
    font-size: 0.9rem;
  }

  .author {
    margin-top: 2vh;
    bottom: 0.5vh;
  }
}

@media only screen and (max-width: 480px) {
  .background {
    padding-top: 15vh;
    padding-left: 5%;
    padding-right: 5%;
  }

  .author {
    margin-top: 1vh;
    bottom: 0.3vh;
  }

  .form-control {
    width: 100%;
  }  

  .content .display-4 {
    font-size: 1.5rem;
    word-wrap: break-word;
  }
  
  .content .lead {
    font-size: 0.9rem;
    word-wrap: break-word;
  }

  .search-form-container, .search-syntax-container {
    max-width: 100%;
    padding: 1rem;
    box-sizing: border-box;
  }

  mat-form-field {
    font-size: 0.8rem;
  }

  button {
    font-size: 0.8rem;
    padding: 0.8rem 1rem;
  }
}
